* {
	box-sizing: border-box;
}

body {
	background-color: rgb(12, 65, 49);
	background-image: url('./../img/bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;

	height: 100vh;
	color: #0000DE;
	font-family: 'Rubik', sans-serif;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin: 0;
	/*overflow սահմանում է՝ սեղմել բովանդակությունը, թե ավելացնել ոլորման տողեր, երբ տարրի բովանդակությունը չափազանց մեծ է՝ նշված տարածքում տեղավորվելու համար:Հորդառատությունը կտրված է, իսկ մնացած բովանդակությունը անտեսանելի կլինի*/
	overflow: hidden;

}

/* dark coating-մուգ ծածկույթ*/
body::after {/*::after կեղծ տարրերը թույլ են տալիս բովանդակություն տեղադրել էջի վրա՝ առանց այն HTML-ում լինելու անհրաժեշտության: Թեև վերջնական արդյունքը իրականում DOM-ում չէ, այն էջում հայտնվում է այնպես, կարծես դա լինի:
	:afterկեղծ տարրերը թույլ են տալիս զետեղել «բովանդակություն» ցանկացած չփոխարինված տարրից առաջ և հետո (օրինակ՝ նրանք աշխատում են a-ի վրա, <div>բայց ոչ <input>): Սա արդյունավետորեն թույլ է տալիս վեբ էջում ցույց տալ մի բան,
	 որը կարող է առկա չլինել HTML բովանդակության մեջ: :before-ը(նախքան) ու :after-ը(հետո) էլեմենտից առաջ ու հետո օրինակ icon կամ ինչ որ բան արագ ավելացնելու գործիքներ են */
	
	/*content: ''; content: ''-ը Խամրացնում է հետևի ֆոնը, ես հանել եմ այն*/
	/*Հատկանշում է տարրի համար օգտագործվող դիրքավորման տեսակը:*/
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}

.countdown-wrapper {
	z-index: 1;
	/*2023-ը տեղաշարժում է ուղղահայաց ուղղությամբ։Տարրերը դիրքավորվում են հարաբերական իրենց նորմալ դիրքով, օրինակ. "left:20"-ը ավելացնում է 20px իրենց ձախ դիրքին:*/
	position: relative;
	display: flex;
	/* տայմեռի տարրերը սեղմում է։Հատկանշում է ճկվող տարրերի ուղղությունը:Ճկվող տարրերը կցուցադրվեն ուղղահայաց՝ որպես սյունակ:*/
	flex-direction: column;
}

.title {
	font-size: 60px;
	margin: 0 0 20px;
	color: #000093;
}

.year {
	position: absolute;
	top: 50%;
	left: 50%;
	/*2023-ի դիրք*/
	transform: translate(-50%, -50%);
	font-size: 200px;
	/*տողերի հեռավորություն*/
	line-height: 1;
	/*Հատկանշում է դիրքավորված տարրի շերտային հերթականությունը:*/
	z-index: -1;
	/*2023-ը խավարեցնում է*/
	opacity: 0.2;

}

.countdown {
	/*տայմեռը հանվում է այս ձևով, որպեսզի էկրանը բացելուց 1 վայրկյան երևա Preloader-ը նոր հետո տայմեռը*/
	display: none;
	/*transform: scale(2);transformկիրառում է 2D կամ 3D վերափոխում տարրի վրա: Այս հատկությունը թույլ է տալիս պտտել, մասշտաբավորել, շարժել, թեքել և այլն տարրերը: Ինձ անհրաժեշտ չի եղել հանել եմ*/
	align-items: center;
	justify-content: center;
	
}

.time {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 30px;
}

.time h2 {
	margin: 0 0 10px;
	font-size: 48px;
}

.time small {
	font-size: 26px;
	color: #000093;
}

@media (max-width: 500px) {
	.title {
		font-size: 35px;
	}

	.year {
		display: none;
	}

	.countdown {
		align-items: center;
	}

	.time {
		margin: 10px;
	}

	.time h2 {
		font-size: 32px;
		margin: 0;
	}

	.time small {
		font-size: 16px;
	}
}

/* Preloader */

.lds-ripple {
	display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;
}

.lds-ripple div {
	position: absolute;
	border: 4px solid #fff;
	opacity: 1;
	border-radius: 50%;
	animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
	animation-delay: -0.5s;
}

@keyframes lds-ripple {
	0% {
		top: 36px;
		left: 36px;
		width: 0;
		height: 0;
		opacity: 1;
	}

	100% {
		top: 0px;
		left: 0px;
		width: 72px;
		height: 72px;
		opacity: 0;
	}
}

/*clock*/
.clock {
	color: #000093;
	font-size: 300%;

}






















/*::after կեղծ տարրերը թույլ են տալիս բովանդակություն տեղադրել էջի վրա՝ առանց այն HTML-ում լինելու անհրաժեշտության: Թեև վերջնական արդյունքը իրականում DOM-ում չէ, այն էջում հայտնվում է այնպես, կարծես դա լինի:
	:afterկեղծ տարրերը թույլ են տալիս զետեղել «բովանդակություն» ցանկացած չփոխարինված տարրից առաջ և հետո (օրինակ՝ նրանք աշխատում են a-ի վրա, <div>բայց ոչ <input>): Սա արդյունավետորեն թույլ է տալիս վեբ էջում ցույց տալ մի բան,
	 որը կարող է առկա չլինել HTML բովանդակության մեջ: */